{% extends 'base.html' %}
{% block head %}
{{ super() }}
<!-- <script src="static/anime-master/anime.min.js"></script> -->
{% endblock %}
{% block content %}
<h1 class="contentHeader content"> ABOUT ME</h1>
<div class="outerCircle">
    <div class="innerCircle">
        <div class="innerText content">
            <ul class="gentoo">
                <li>Linux enthusiast.</li>

                <li>Proficient in sarcasm and reddit.</li>

                <li>Favorite memes:
                    <ul class="arch">
                        <li> duck song</li>
                        <li> gentoo </li>
                        <li> systemd </li>
                    </ul>
                </li>

                <li> emacs + evil mode </li>
                <li> languages
                    <ul class="arch">
                        <li class="el"> python </li>
                        <li> java </li>
                        <li> c </li>
                        <li> bash </li>
                        <li> golang </li>
                        <li> latex </li>
                    </ul>
                </li>

                <li> chicken mcnugget theorem OP </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
