<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('blog') }}" class="anim"> Blog </a>
            <a > / </a>
            <a href="{{ url_for('projects') }}" class="anim"> Projects</a>
            <a > / </a>
            <a href="{{ url_for('about') }}" class="anim"> About</a>
            <a > / </a>
            <a href="{{ url_for('contact') }}" class="anim"> Contact</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
