{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="side">
    <!-- TODO get fancy with series -->

    <!-- expected format for entries is list of tuples: name, url-->
    {% for entry in entries[::-1] %}

    {% if ".html" in entry[1] and "." != entry[1][0] %}

    <a href=" {{ entry[0] }} " >
        {{ entry[1][:-5] }}
    </a>

    {% endif %}

    {% endfor %}

</div>
<div style="padding-left: 100px; color: #659F08 ">
    {% block blog_content %}
    {% endblock %}
</div>
{% endblock %}
