{% extends 'base.html' %}

{% block content %}
<div class="content">
    asdf motherfcuker
</div>
<div class="content" id="pascalTriangle">
    asdf motherfcuker
</div>
<script>
 console.log("hoi");
 var page = 1;
 window.addListener("scroll", function(ev) {
     if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
         console.log(window.innerHeight + "innher boi");
         console.log(window.scrollY + "scroll boi");
         console.log(document.body.offsetHeight + "offset boi");

         document.getElementById("pascalTriangle").innerHTML += "\r\n hi motherfucker";
         page++
     }
 };
 )
</script>
{% endblock %}
