@import "compass/css3";
:root {
    font-family: montserrat;
    --topnavWidth:130px;
    --textColorUnselect: #818181;
    --textColorSelect: #659F08;
    /* --bkrndColor: #2a3517; */
    --bkrndColor: #212121;
    --navBarColor: #080a04;
    --contentWidth: 180px
    /* #212121, #659F08 */
}

body, html {
    cursor: url(diracdelta.gif), pointer;
    height: 100%;
    background-color: var(--bkrndColor);
}

.alias {cursor: url(arch.png), pointer;}
.all-scroll {cursor: url(arch.png), pointer;}
.auto {cursor: url(arch.png), pointer;}
.cell {cursor: url(arch.png), pointer;}
.context-menu {cursor: url(arch.png), pointer;}
.col-resize {cursor: url(arch.png), pointer;}
.copy {cursor: url(arch.png), pointer;}
.crosshair {cursor: url(arch.png), pointer;}
.default {cursor: url(arch.png), pointer;}
.e-resize {cursor: url(arch.png), pointer;}
.ew-resize {cursor: url(arch.png), pointer;}
.grab {cursor: url(arch.png), pointer;}
.grabbing {cursor: url(arch.png), pointer;}
.help {cursor: url(arch.png), pointer;}
.move {cursor: url(arch.png), pointer;}
.n-resize {cursor: url(arch.png), pointer;}
.ne-resize {cursor: url(arch.png), pointer;}
.nesw-resize {cursor: url(arch.png), pointer;}
.ns-resize {cursor: url(arch.png), pointer;}
.nw-resize {cursor: url(arch.png), pointer;}
.nwse-resize {cursor: url(arch.png), pointer;}
.no-drop {cursor: url(arch.png), pointer;}
.none {cursor: url(arch.png), pointer;}
.not-allowed {cursor: url(arch.png), pointer;}
.pointer {cursor: url(arch.png), pointer;}
.progress {cursor: url(arch.png), pointer;}
.row-resize {cursor: url(arch.png), pointer;}
.s-resize {cursor: url(arch.png), pointer;}
.se-resize {cursor: url(arch.png), pointer;}
.sw-resize {cursor: url(arch.png), pointer;}
.text {cursor: url(arch.png), pointer;}
.url {cursor: url(arch.png), pointer;}
.w-resize {cursor: url(arch.png), pointer;}
.wait {cursor: url(arch.png), pointer;}
.zoom-in {cursor: url(arch.png), pointer;}
.zoom-out {cursor: url(arch.png), pointer;}

.topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    float:right;
    overflow: hidden;
    Z-index: 999;
    background-color: #006400;
}

.topnav a {

    z-index: 1; 
    cursor: url(arch.png);
    float: right;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--textColorUnselect)
}

.topnav a:hover {
    cursor: url(arch.png);
}

.content{
    color: var(--textColorSelect);
    text-align: left;
    left: 50%;
    font-size: 20px;
    Z-index: 999;
}

.contentHeader{
    margin-left: var(--topnavWidth); 
    text-align: left;
    font-size: 69px;
    color: #556B2F;
    Z-index: 999;
    /* mix-blend-mode: luminosity; */
}

/* http://resizeimage.net/ for resizing  */
ul.gentoo{
    list-style-image: url('gentoo.png');
}

ul.arch{
    list-style-image: url('arch.png');
}

a {
    cursor: url('arch.png'), pointer;
}

.outerCircle {
    margin: 0 auto;
    margin-top: -80px;
    width: 100px;
    background-color:blue;
    width:1100px;
    height:1100px;
    position:relative;
    border:1px solid black;
    border-radius: 50%;
}


.innerCircle {
    background-color:var(--bkrndColor);
    top: 20%; left:20%;
    width:60%;
    height:60%;
    position: relative;
    border:1px solid black;
    border-radius: 50%;
}

.innerText{
    top: 18%; left:18%; 
    width:60%;
    height:60%;
    position: relative;
}


.anim {
  display: block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.anim:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 5px;
  right: 0;
  bottom: -2px;
  background: var(--navBarColor);
  /* to keep colors from showing up before */
  -webkit-transform: scaleX(0) scaleY(0.3);
  transform: scaleX(0) scaleY(0.3);
  /* saying to start animation from x=0 */
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.anim:hover:before, .anim:focus:before, .anim:active:before {
  -webkit-transform: scaleX(1) scaleY(0.33);
  transform: scaleX(1) scaleY(0.33);
  color: #f06060;
}

.side {
    font-size: 500px;
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bkrndColor);
    overflow-x: hidden;
    padding-top: 69px;
}

.side a {
    text-decoration: none;
    font-size: 25px;
    color: #ff0000;
    display: block;
    transition: 0.3s;
}

.side a:hover {
    color: #ffffff;
}
